body{
    margin:0;
}
div{
    background-color: red;
    height:100px;
    width:10%;
    /*opacity는 투명도를 나타낸다*/
    opacity: .3;
    /*transition 동작의 변화를 나타낸다*/
    /*원상태로 돌아오는데 2초,지연1초,투명도 복귀시간2초*/
    transition: width 2s 1s,opacity 2s;
}   
div:hover{
    /*hover를 하였을 경우*/
    /*설정 넓이 만큼 늘어나고 동작시간 1초, 투명도 복귀 1총*/
    width: 100%;
    transition: width 1s;
    opacity: 1;
}